<ion-header translucent>
    <ion-toolbar>
      <ion-title>Playcall</ion-title>
      <ion-buttons slot="end">
        <!--<ion-button onclick="dismissModal()">Close</ion-button>-->
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen class="ion-padding">
    <game-state [game]="game" type="min"></game-state>

    <!--
      <div>Personnel: {{ personnel.name }}</div>
    <div>Formation: {{ formation.getCall() }}</div>
    <div>Playcall: {{ playcall.getCall() }}</div>
    -->

    <ion-toolbar>
      <ion-buttons slot="secondary">
        <ion-button>
          <ion-icon name="arrow-back"></ion-icon>
          Back
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button color="primary" (click)="reset()">
          <ion-icon name="refresh"></ion-icon>
          Restart
        </ion-button>
      </ion-buttons>
      <ion-title></ion-title>
    </ion-toolbar>   
          
    <div>
      {{ playcall.getPhaseName() }}
    </div>       

    <ion-list>
        <ion-item *ngIf="playcall.personnel">
          <ion-label>
            <h3>Personnel</h3>
            <h4 >{{ playcall.personnel.name }}</h4>
          </ion-label>  
        </ion-item>
        <ion-item *ngIf="playcall.formation">
          <ion-label>
            <h3>Formation</h3>
            <h4 >{{ playcall.formation.text() }}</h4>
          </ion-label>  
        </ion-item>
        <ion-item *ngIf="playcall.playType">
          <ion-label class="ion-text-wrap">
            <h3>Playcall</h3>
            <h4 >{{ playcall.text() }}</h4>
          </ion-label>  
        </ion-item>

    </ion-list>
      
      <div *ngIf="playcall.phaseHasPositionOptions()">
          <ion-grid>
            <ion-row>
              <ion-col *ngFor="let pos of playcall.getPhasePositionOptions(); let i = index"
                       [class.selected]="pos.selected"
                       [class.complete]="pos.complete"
                       (click)="playcall.setPhasePositionOption(pos)">

                <div>{{ pos.letter }}</div>
              </ion-col>
            </ion-row>
          </ion-grid>
     </div>

    <ion-grid>
      <ion-row>
        <ion-col size="4" *ngFor="let opt of playcall.getPhaseOptions();" (click)="playcall.setPhaseOption(opt)">
          <div>{{ opt.name }}</div>
        </ion-col>
      </ion-row>
    </ion-grid>  
    
    <ion-button *ngIf="playcall.ready" (click)="call()">Call</ion-button>

  </ion-content>
