<ion-header translucent>
    <ion-toolbar>
      <ion-title>Playcall</ion-title>
      <ion-buttons slot="end">
        <!--<ion-button onclick="dismissModal()">Close</ion-button>-->
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen class="ion-padding">
    <game-state [game]="game" type="min"></game-state>
     
    <div *ngIf="gameState.play_type == 'REG' || gameState.play_type == 'CNV'; else special"> 
    <ion-button (click)="call('run')">Run</ion-button>
    <ion-button (click)="call('short')">Short Pass</ion-button>
    <ion-button (click)="call('long')">Long Pass</ion-button>
    </div>
    <ng-template #special>
      <ion-button (click)="call('punt')">Punt</ion-button>
    </ng-template>
    <p *ngIf="gameState.play_type == 'CNV'">
      <ion-button (click)="call('pat')">PAT</ion-button>
    </p>
    <p *ngIf="gameState.play_type == 'KO'">
        <ion-button (click)="call('ko')">Kickoff</ion-button>
        <ion-button (click)="call('onside')">Onside (nyi)</ion-button>
      </p>
  </ion-content>
