<ion-header>
  <ion-toolbar>
    <ion-title>OCDC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!--<game-state [game]="game" type="max"></game-state>-->
  <!--<field-view #fieldView></field-view>-->

  <!--<play-grid #playGrid></play-grid>-->

  <line-grid #lineGrid></line-grid>

  <dev-tools *ngIf="showDevTools" #devTools></dev-tools>
  
  <div *ngIf="playcall_off" class="playDisplay ion-text-center">
    <strong>{{ playcall_off.getFullText() }}</strong> vs. <strong>{{ playcall_def.getFullText() }}</strong>
  </div>
  <!--<play-by-play [game]="game"></play-by-play>-->
  <ion-button expand="block" size="small" *ngIf="presnap" (click)="snap()">Snap</ion-button>
  
  <ion-button *ngIf="showDevTools" expand="block" size="small" (click)="simulate(true)">Simulate</ion-button>
  <ion-button *ngIf="showDevTools" expand="block" size="small" (click)="simulate(false)">Simulate (no Adj)</ion-button>
  <div *ngIf="showDevTools" class="playDisplay">Simulations: {{ simCount }}</div>


</ion-content>
