<div #playDetail id="playDetail">
    <ion-grid *ngIf="game.getLastPlay()">
        <ion-row>
            <ion-col size="3">
                Segment
            </ion-col>
            <ion-col size="2">
                Rand
            </ion-col>
            <ion-col size="1">
                O
            </ion-col>
            <ion-col size="1">
                D
            </ion-col>
            <ion-col size="1">
                OE
            </ion-col>
            <ion-col size="1">
                DE
            </ion-col>
            <ion-col size="1">
                EO
            </ion-col>
            <ion-col size="2">
                BallY
            </ion-col>
        </ion-row>

        <ion-row *ngFor="let segment of game.getLastPlay().segments">
            <ion-col size="3">
                {{ segment.name }} 
            </ion-col>
            <ion-col size="2">
                {{ segment.rand }} 
            </ion-col>
            <ion-col size="1">
                {{ segment.offAdj }} 
            </ion-col>
            <ion-col size="1">
                {{ segment.defAdj }} 
            </ion-col>
            <ion-col size="1">
                {{ segment.offEndsOn }} 
            </ion-col>
            <ion-col size="1">
                {{ segment.defEndsOn }} 
            </ion-col>
            <ion-col size="1">
                {{ segment.endsOn }}
            </ion-col>
            <ion-col size="2">
                {{ segment.ballY }}
            </ion-col>
        </ion-row>

    </ion-grid>
</div>
<div #playByPlay id="playByPlay">
    <ion-grid class="ion-no-padding" *ngIf="game.getLastPlayResult()">
       
            <div *ngFor="let result of game.getCurrentDrivePlayResults()">
          
          <div class="ion-no-padding" *ngIf="result.getStartGameState().play_type == 'REG'; else min">
            <ion-row>
            
                <ion-col class="ion-no-padding"  size="1">
                    {{ getClock(result.getStartGameState().clock) }}
                </ion-col>
                <ion-col class="ion-no-padding"  size="3">
                   &nbsp;
                    {{ result.getStartGameState().down }}
                &
                    {{ result.getStartGameState().dist }}
                  
                    ({{ result.getStartGameState().ytg }})
                </ion-col>
                <ion-col class="ion-no-padding">
                   <div *ngFor="let com of result.getCommentary()">
                       {{ com }}
                   </div>
                </ion-col>

            </ion-row>
          </div>

          <ng-template #min>
              <ion-row>
                  
                <ion-col class="ion-no-padding"  size="1">
                        {{ getClock(result.getStartGameState().clock) }}
                    </ion-col>
                <ion-col size="3"></ion-col>
                <ion-col class="ion-no-padding">                    
                   <div *ngFor="let com of result.getCommentary()">
                        {{ com }}
                    </div>
                </ion-col>
              </ion-row>
          </ng-template>
      
        </div>
        
    </ion-grid>
</div>
