<div #playByPlay id="playByPlay">
    <ion-grid class="ion-no-padding" *ngIf="game.getLastPlayResult()">
        <div *ngFor="let result of game.getCurrentDrivePlayResults()">
          <div class="ion-no-padding" *ngIf="result.getStartGameState().play_type == 'REG'; else min">
            <ion-row>
            
                <ion-col class="ion-no-padding"  size="1">
                    {{ getClock(result.getStartGameState().clock) }}
                </ion-col>
                <ion-col class="ion-no-padding"  size="3">
                   &nbsp;
                    {{ result.getStartGameState().down }}
                &
                    {{ result.getStartGameState().dist }}
                  
                    ({{ result.getStartGameState().ytg }})
                </ion-col>
                <ion-col class="ion-no-padding">
                   <div *ngFor="let com of result.getCommentary()">
                       {{ com }}
                   </div>
                </ion-col>

            </ion-row>
          </div>

          <ng-template #min>
              <ion-row>
                  
                <ion-col class="ion-no-padding"  size="1">
                        {{ getClock(result.getStartGameState().clock) }}
                    </ion-col>
                <ion-col size="3"></ion-col>
                <ion-col class="ion-no-padding">                    
                   <div *ngFor="let com of result.getCommentary()">
                        {{ com }}
                    </div>
                </ion-col>
              </ion-row>
          </ng-template>
        </div>
    </ion-grid>
</div>
