<div #chart></div>

<ion-grid class="ion-no-padding results">
    <ion-row>
        <ion-col>
          Loss
        </ion-col>
        <ion-col>
          -1-0
        </ion-col>
        <ion-col>
          1-3
        </ion-col>
        <ion-col>
          4-7
        </ion-col>
        <ion-col>
          7-10
        </ion-col>
        <ion-col>
          11+
        </ion-col>
    </ion-row>  
    <ion-row>
        <ion-col>
          {{ results.loss }}
        </ion-col>
        <ion-col>
          {{ results.line }}
        </ion-col>
        <ion-col>
          {{ results.low }}
        </ion-col>
        <ion-col>
          {{ results.pos }}
        </ion-col>
        <ion-col>
          {{ results.first }}
        </ion-col>
        <ion-col>
          {{ results.long }}
        </ion-col>
    </ion-row>  
</ion-grid>
