<ion-grid class="ion-no-padding">

          <ion-row class="ion-no-padding" *ngFor="let row of rows; let r = index">
            <div *ngIf="r == (rows.length - this.yOffset)" class="LoS"></div>
            <ion-col class="ion-no-padding" *ngFor="let col of cols; let c = index;">
              <div class="wrap">
                  <div [class]="getInfluenceClass(r,c)">
                   <!-- {{ getGridInfluence(r, i, pos) }} -->
                  </div>
                <div *ngIf="hasPlayer(r, c)" [class]="getPlayerClass(r, c)">
                  <!--<div class="influence"></div>-->
                </div>
              </div>
            </ion-col>  
          </ion-row>

</ion-grid>
