.field-wrapper {
  width: 100%;
  min-height: 40vh;
}

.field-view {
  border: 1px solid #ccc;
  background: #f8f8f8;
  height: 100px;
  width: 100%;
}

#game {
  width: 100vw;
  min-height: 100px; 
}
