.field-wrapper {
  width: 100%;
  min-height: 20px;
}

.field-view {
  border: 1px solid #ccc;
  background: #f8f8f8;
  height: 300px;
  width: 100%;
}

.field-view.playcall {
  height: 150px;
}

#game {
  width: 100vw;
  min-height: 20px; 
}
