

<div *ngIf="type=='max'; else min">
        <div *ngIf="!game.ended">
            <p *ngIf="gameState.play_type == 'CNV'; else reg">
                CONVERSION
            </p>
            <ng-template #reg>
                <ion-grid class="ion-text-center">

                    <ion-row class="scoreboardHeader">
                        
                        <ion-col [class.inPossession]="game.getCurrentGameState().possession == 'H'" >
                            <ion-text >HOME</ion-text>
                                {{ game.getCurrentGameState().score_home }}
                        </ion-col>
                        
                        <ion-col [class.inPossession]="game.getCurrentGameState().possession == 'A'" >
                                <ion-text >AWAY</ion-text>
                                {{ game.getCurrentGameState().score_away }}
                        </ion-col>

                        <ion-col >
                                {{ getDownWithSuffix(game.getCurrentGameState().quarter) }}  {{ getClock(game.getCurrentGameState().clock) }}
                        </ion-col>

                        <ion-col >
                                {{ getDownWithSuffix(game.getCurrentGameState().down) }} & {{ game.getCurrentGameState().dist }}
                        </ion-col>

                    </ion-row>

                  
                </ion-grid>
            </ng-template>
        </div>
        

        
      <div *ngIf="game.ended">
        Home Score: {{ game.getCurrentGameState().score_home }}<br>
        Away Score: {{ game.getCurrentGameState().score_away }}
      </div>
</div>
      
<ng-template #min>
        <p *ngIf="gameState.play_type == 'CNV';else minreg">
                CONVERSION
        </p>
    
            <ng-template #minreg>
      {{ game.getCurrentGameState().down }} & {{ game.getCurrentGameState().dist }} | {{ yard_line }}
            </ng-template>
</ng-template>
